*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    color: black;
    list-style: none;
    text-decoration: none;
}

body{
    display: flex;
    height: 100vh;
    overflow-y: scroll;
    flex-direction: column;
}

.header{
    display: flex;
    align-items: first baseline;
    align-items: center;
    height: auto;
}

.img-background{
    width: 100%;
    height: 400px;
}

h1,h2,h3,h4,h5,p,a{
    color: #ffff;
}

.bloque-vw.flex{
    background: #a68ac5;
}

.nav.flex{
  
    justify-content: space-between;
  padding: 0 40px;
    width: 100%;
    text-align: center;
    flex: 1;
}

h1 img{     
    padding: 20px 0;
        font-size: 80px;
        font-family: "Germania One", serif;
        font-weight: 400;
        font-style: normal;    
        height: 80px; 
}

h2{
    font-size: 30px;
    margin-bottom: 20px ;
}
ul{
  display: flex;  
}

li{
    margin: 10px;
    padding: 10px;
    font-size: 20px;
}

.list-ul a{
 font-size: 25px;
}

.principal .main-section{
    margin-top: 30px;
}

article{
    overflow: hidden;
    position: relative;
}


.principal{
 margin: 0 auto 60px;
 width: 100%;
}

.bloque-vw{
   
    padding: 0 20px;
}

.flex{
    display: flex;
    justify-content: center;
}

.parrafo{
    font-size: 22px;
    color: #fff;
}

.bloque{
    margin: 0 5%;
    
}

.grilla{
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-gap: 45px;
    padding-bottom: 30px;
}



.bloque-vw.main-section{
    background: #4e9e6b;
}

.bloque-vw.main-section h2{
    margin-top: 20px;
    margin-bottom: 0;
}
.col-24{
    grid-column: span 24;
}

.col-18{
    grid-column: span 18;
}

.col-10{
    grid-column: span 10;
}

.col-9{
    grid-column: span 9;
}
.col-12{
    grid-column: span 12;
}

.col-8{
    grid-column: span 8;
}

.col-7{
    grid-column: span 7;
}
.col-6{
    grid-column: span 6;
}

.col-4{
    grid-column: span 4;
}

div.col-6 article:first-child{
    margin-bottom: 30px;
}

[class^="col-"] figure img{
   width: 100%;
}

.sobre{
    background: #a68ac5;
    border-radius: 10px;
}

.sobre header{
    margin: 20px;
}

article.opiniones figure img{
    border-radius: 50%;
    width: 70%;
    height: auto;
    /* margin: 0 auto; */
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    top: 10px;
}


footer{
    background: #4c4c4c;
}
footer h1{
    color:#fff;
}

.tarot figure{
height: 100%;
}
.tarot img{
    height: 100%;
}
.img-400 {
height: 320px;
}

.tarot .sobre{
    border-radius: 45px;
}

.tarot header{
    text-align: center;
    margin: 50px;

}

.ofertas{
   
    margin: 0 15%;
    margin-top: 170px;
    background:#a68ac5;
    border-radius: 45px;
    height: 440px;
    position: relative;
    overflow: hidden;
    background: rgb(166,138,197);
    background: linear-gradient(22deg, rgba(166,138,197,1) 50%, rgba(191,158,213,1) 76%);
}
.ofertas header{
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
    width: 50%;
    padding: 5px  5% ;
}

.ofertas span{
    position: absolute;
    z-index: 1;
    top: 20%;
    right: 10%;
    font-size: 47px;
    font-weight: 600;
    color: #fff;
}
.ofertas::after{
    content: "";
    display: block;
    height: 350px;
    width: 600px;
    position: absolute;
    background: #a68ac5;
    top: -15%;
    right:-10%;
    border-radius: 100% 100% 90% 100%;
   
}
.ofertas h3{
    font-size: 33px;
    color: #fff;
}
.ofertas p{
    color: #fff;
    font-size: 31px;
}


.ofertas button{
    
    border: none;
    padding:5px 15px;
    position: relative;
    width:fit-content;
    font-size:28px ;
    height: 57px;
    background: #f2f2f2;
    border-radius: 50px;
    
}

.ofertas button a{
    color: #a68ac5;
}
.contacto{
    margin: 0 10%;
    display: flex;
}
.contacto .formulario{

    background: #a68ac5;
    width: 50%;
}
.contacto form{
    display: flex;
    flex-direction: column;
}

.contacto .info,.contacto p,.contacto .info h3{
    color: #000;   width: 50%;
}